<!-- Footer
        ============================================= -->
<footer id="footer" class="dark">


    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                                
                <a href="~/" target="_blank" class="logixsys">
                    <img src="~/Assets/images/logixsystems-nolabel.png" />
                </a>
                Powered by <a href="http://www.ilogixphils.com">iLogix Phils. Inc.</a><br />
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <span style="display:inline-block;float:left">
                        See us on: &nbsp;
                    </span>
                    <a href="https://www.facebook.com/ILogix-Phils-Inc-278414562839935/?ref=aymt_homepage_panel&eid=ARDxxyOGW7PPhOMamiALzJyXttfARX-uBsR-O1RzHEtkifkkt7iFqOS_VfioqVonGwZGulp_Pi8Zm18N" class="social-icon si-small si-borderless si-facebook" target="_blank">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
@*
                    <a href="" class="social-icon si-small si-borderless si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                   <a href="#" class="social-icon si-small si-borderless si-twitter" disabled>
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-gplus" disabled>
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-vimeo">
                        <i class="icon-vimeo"></i>
                        <i class="icon-vimeo"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-github">
                        <i class="icon-github"></i>
                        <i class="icon-github"></i>
                    </a>

                    <a href="#" class="social-icon si-small si-borderless si-yahoo">
                        <i class="icon-yahoo"></i>
                        <i class="icon-yahoo"></i>
                    </a>

                  *@
                </div>

                <div class="clear"></div>

                Contact us at: <i class="icon-mail"></i>
                <a href="mailto:admin@ilogixphils.com">
                    admin@ilogixphils.com
                </a>
                 <span class="middot">&middot;</span> <i class="icon-mobile-alt"></i> +63 917 1088051
            </div>

        </div>

        <div class="license-info-link">
            @FixedSettings.Copyright
            <br />
            <a href="@Url.Action("Index", "License", new { area = "" })" target="_blank">View License Information</a>
        </div>

    </div><!-- #copyrights end -->

   
</footer><!-- #footer end -->