<template id="LoadingTemplate">
    <div class="css3-spinner infinite-scroll-request">
        <div class="css3-spinner-ball-pulse-sync">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</template>