<template id="SListTemplate">
    <div class="more-data-cont">
        <p></p>
        <input type="text" class="reqload-value" data-to-max="1000" />
        <a href="#" class="btn-reqload"></a>
        <div class="progress-ui"></div>
    </div>
</template>

<template id="SListTemplate_Loading">
    <div class="slist-loading">
        <img src="~/Assets/images/loading.gif" alt="" /> Caching server data...
    </div>
</template>