@model List<coreApp.DAL.tblEmployee_OtherInfo_Skill>

@{
    Layout = "~/Areas/EmployeeModule/Views/Shared/_PDS.cshtml";

    ViewBag.Title = "My Special Skills and Hobbies";




    Module.DB.tblEmployee employee = (Module.DB.tblEmployee)ViewBag.Employee;

    bool readOnly = !coreApp.Cache.Get().userAccess.HasPermission("EmployeeOtherInfo");

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = "My Profile", Link = Url.Action("Details", "MyProfile", new { area = "EmployeeModule" } ) },
        new Breadcrumb { Description = ViewBag.Title }
    })
}

<div class="table-responsive">
    <table class="tbl-1 display table table-bordered table-striped table-list" cellspacing="0" width="100%"
           modal-target modal-start="view" modal-view-width="modal-lg" modal-edit-width="modal-lg" modal-create-width="modal-lg"
           modal-view-url="/HR/Manage/Employee/Skills/Details/@employee.EmployeeId/{0}" modal-edit-url="/HR/Manage/Employee/Skills/Edit/@employee.EmployeeId/{0}" modal-delete-url="/HR/Manage/Employee/Skills/Delete/@employee.EmployeeId" modal-create-url="/HR/Manage/Employee/Skills/Create/@employee.EmployeeId">
        <thead>
            <tr>
                <th class="idcol">
                    Id
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (coreApp.DAL.tblEmployee_OtherInfo_Skill item in Model)
            {
                <tr record-id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                </tr>
            }
        </tbody>

    </table>
</div>



@section FormActions {
    @if (!readOnly)
    {
        <button class="btn btn-sm btn-default btn-create" onclick="$.fn.list('modalOp', this, 'create')" table-selector=".tbl-1">New</button>
    }    
}