@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";

    ViewBag.Title = "Change Password";    
}

@section Styles {
    <style>
        #top-bar,
        #header,
        #footer,
        .my-geolocationattendance-button {
            display: none;
        }

        .change-password-cont {
            max-width: 500px;
        }
    </style>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#top-bar .top-links .top-link-section-pw-trigger').closest('li').remove();

            $('.change-password-cont').changePasswordUI({
                initCallback: function (obj) {
                    obj.find('.btn-cancel-change-pw').remove();
                },
                postSubmitCallback: function (res) {
                    if (res.IsSuccessful) {
                        sessionStorage.clientMessage = res.Remarks;
                        window.location = vdUrl(returnUrl);
                    } else {
                        modalMessage(res.Err.split('\n'), 'Change Password', true);
                    }
                }
            });
        });
    </script>
}

<div class="change-password-cont">
    @Html.Action("ChangePassword", "Manage", new { area = "" })
</div>

