<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AddressLib.Properties.Settings.commonapiConnectionString"
            connectionString="Data Source=.\mssqlserver2016;Initial Catalog=commonapi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>