@model List<Module.DB.tblGroup>
@{
    ViewBag.Title = "My Groups";

    Module.DB.tblEmployee employee = (Module.DB.tblEmployee)ViewBag.Employee;

}

@section Breadcrumbs {
@Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = ViewBag.Title }
    })
}

<div class="card">
    <div class="card-body">
        @Html.Partial("~/Areas/HRModule/Views/EmployeeGroups/_GroupList.cshtml", Model, new ViewDataDictionary { { "ReadOnly", true } })
    </div>
</div>