@using coreApp.DAL
@model string
@{
    tblPayrollSummary ps = (tblPayrollSummary)ViewBag.PS;

    List<tblPayrollSummary> pSummaries = ((List<tblPayrollSummary>)ViewBag.PSummaries).Where(x => !x.IsPosted).ToList();
}

<select onchange="itemSelected(this)" class="form-control">
    @foreach (tblPayrollSummary o in pSummaries)
            {
        <option value="@o.PSId" @(ps.PSId == o.PSId ? "selected" : "")>@o.Description.ToUpper()</option>
    }
</select>
<div class="subtitle" style="padding-left: 15px;">
    @Procs.friendlyPeriod(ps.DateFrom, ps.DateTo, true)
</div>
<br />

<script>
    function itemSelected(sel) {
        window.location = vdUrl('@Model' + $(sel).val());
    }
</script>