@{
    ViewBag.Title = "Change Password";
    UserAccess access = coreApp.Cache.Get().userAccess;

    objGreeting greeting = new objGreeting(access.stakeholder.FirstName);

    string returnUrl = (string)ViewBag.ReturnUrl;
}

@section Styles {
    <style>
        .change-password-cont {
            max-width: 500px;
        }
    </style>
}

@section Scripts {
    <script>
        var returnUrl = '@returnUrl';

        $(document).ready(function () {
            $('#top-bar .top-links .top-link-section-pw-trigger').closest('li').remove();

            $('.change-password-cont').changePasswordUI({
                initCallback: function (obj) {
                    obj.find('.btn-cancel-change-pw').remove();
                },
                postSubmitCallback: function (res) {
                    if (res.IsSuccessful) {
                        sessionStorage.clientMessage = res.Remarks;
                        window.location = vdUrl(returnUrl);
                    } else {
                        modalMessage(res.Err.split('\n'), 'Change Password', true);
                    }
                }
            });
        });
    </script>
}

<h4>
    Good @greeting.Greeting <b>@greeting.Me</b>,
</h4>

@if (access.stakeholder.LastPasswordChange == null)
{
    <p>
        For security reasons, please change your password now.
    </p>
}
else
{
    double days = (DateTime.Today - access.stakeholder.LastPasswordChange.Value).TotalDays;

    <p>
        It has been @((int)days) days since you last changed your password.
        For security reasons, please change your password now.
    </p>
}

<i>
    Note: <br />
    You may re-enter your previous password, as long as it passes the validity requirements, but we shall consider it as waiving this security recommendation.
</i>

<hr />

<div class="change-password-cont">
    @Html.Action("ChangePassword", "Manage", new { area = "" })
</div>
