@model Module.Leave.LeaveCreditsModel

@{
    ViewBag.Title = "My Leave Credits";
    

    Module.DB.tblEmployee employee = (Module.DB.tblEmployee)ViewBag.Employee;
    Module.DB.tblLeaveType leaveType = (Module.DB.tblLeaveType)ViewBag.LeaveType;
}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = ViewBag.Title }
    })
}

@section Scripts {
    <script>
        function print(dlWord) {
            window.open(vdUrl('/My/LeaveCredits/PrintLeaveCard/@(leaveType.Id)/@(Model.pm.StartDate.ToString("MM-dd-yyyy"))/@(Model.pm.EndDate.ToString("MM-dd-yyyy"))?dlWord=' + dlWord), '_blank');
        }

        function applyPeriod_list(start, end) {
            var link = '/My/LeaveCredits/Index/@leaveType.Id';

            modalProcessing();
            window.location = vdUrl('/My/LeaveCredits/Index/@(leaveType.Id)/' + start + '/' + end);
        }
    </script>
}

@Html.Partial("~/Areas/LeaveModule/Views/EmployeeLeaveCredits/_IndexCardUI.cshtml", Model, new ViewDataDictionary { { "employee", employee }, { "leaveType", leaveType }, { "leaveTypeInfoPath", "/My/LeaveCredits/Index/" }, { "readOnly", true } })


@section FormActions {
    @if (Model.employeeLeave.IsApplicable)
    {
        <div class="btn-group dropup">
            <button type="button" class="btn btn-sm btn-default btn-print" onclick="print()">
                Print Leave Card
            </button>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="print(true)">Download Word Document</a>
            </div>
        </div>
    }
}